
.studioHero {
    position: relative;
    height: auto;
    color: #FFF;
    z-index: 1;
  }

.studioHero span { color: #A5A5A5; }
.studioHero ol { 
  padding-left: 10%;
  list-style: decimal; 
}
.studioHero li { padding-bottom: 5%;}
@media screen and (max-width: 66rem) { 

}
@media screen and (max-width: 42rem) {

}
