.results {
    position: relative;
    z-index: 1;
}
.bx--accordion__content { padding-right: 0; }
.bx--accordion__heading { background: #CCC; }
.bx--accordion__item--active .bx--accordion__content { padding-top: 0; }
.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.separator {  
    border-top: 1px solid rgba(250, 250, 250, 0.25);
    border-bottom: none; 
    border-left: none;
    border-right: none;
    margin-block-end: 0;
}
.total--points {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(250, 250, 250, 0.25);
}
.category--points {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(250, 250, 250, 0.25);
}
.resultsList li, .resultHeadline p {
    display: flex;
    padding-left: 0.5rem;
    height: 40px;
    border: 1px solid rgba(250, 250, 250, 0.25);
    border-top: none;
    border-left: none;
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
}
.resultHeadline p { 
    margin-bottom: 0; 
    color: rgba(250, 250, 250, 0.50);
}
.resultsList li:first-child { border-top: none; }
.resultsList li:last-child { border-bottom:  none; }
.scorePoint {
    float: right;
    margin-right: 0.5rem;
    width: 6px;
    height: 6px;
    border-radius: 50px;
}
.scorePoint[data-type='green'] { background-color: #34B70A; }
.scorePoint[data-type='yellow'] { background-color: #ECB505; }
.scorePoint[data-type='gray'] { background-color: #777; }