.bx--breadcrumb { display: flex; }
.status--dot {
    display: flex;
    color: #777;
    flex-direction: row;
    justify-content: flex-start;
}
.status--dot span {
    display: inline-flex;
    width: 8px;
    height: 8px;
    margin-right: 5pt;
    border-radius: 50%;
    background-color: #a6ff00;
    animation: 1s ease-out 1s infinite pulse;
  }
  .status--dot span[data-type="inactive"] {
    background-color: #777;
    animation: unset;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(#a6ff00, .5);
    }
    100% {
      box-shadow: 0 0 0 8px rgba(#a6ff00, 0);
    }
  }
    
.packBox {
    height: 155px;
    border: 1px solid #777777;
    border-radius: 15pt;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    transition: .15s ease-in-out;
}
.packBox:hover {
    cursor: pointer;
    background-color: #222;
    border-color: #222;
    transform: scale(1.05);
}
/*
.packBox:hover svg, .packBox:hover h4 { color:#000; fill: #000; } 
*/
.packContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}
.packContentBottom {
    position: absolute;
    bottom: 15pt;
    display: flex;
    align-items: center;

}
.packContentBottom p {
    text-align: center;
    font-size: 10pt;
}
.packContentBottom[data-type='expiration'] p {
    text-align: center;
    font-size: 8pt;
    opacity: 0.5;
}
.packBox[data-type='profile'] {
    margin-top: 20pt;
    border: 1px solid #FFF;
    border-radius: 10pt;
}

@media screen and (max-width: 66rem)  { 
    .profileContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 42rem) {
    .dashBoard { height: auto; }
    .profileContainer {
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .profileContainer {
        padding-left: 35%;
        padding-right: 35%;
    }
}