.heroHome {
    color: #FFF;
    background-image: url(bull-2.png);
    background-position: center bottom;
    background-size: 120%;
    background-repeat: no-repeat;
}
.heroHeadline { 
    display: flex;
    height: calc(100vh - 80px);
    text-align: center;
}
.bottom {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}
.center {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.homeAntihero {
    display: flex;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    color: #FFF;
    background: linear-gradient(to bottom, #111 50%,#333 100%);
    z-index: 1;
}
.homeAntihero a, .homeBanner a {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.33rem;
}
.homeBanner {
    color: #FFF;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('./home-banner.png');
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    // background: linear-gradient(to bottom, #111 50%,#333 100%);
    z-index: 1;
}
// .homeBanner a { color: #FFF; }
.link--primary {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.homeSections {
    position: relative;
    padding-top: 160px;
    padding-bottom: 80px;
    z-index: 1;
}
.homeSections[data-type='no-padding-bottom'] { padding-bottom: 160px; }
.button--hero {
    width: 50%;
    height: 30pt;
    max-width: 100%;
    padding: 10pt;
    padding-top: 9pt;
    margin-bottom: 10pt;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.current--game--logo { 
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; 
}
.hero--space {
    margin-bottom: 1rem;
}
.sectionImg { width: 100%; }

@media screen and (max-width: 66rem) {
    .heroHome { background-size: cover; }
    .current--game--logo { max-width: 50%;}
}
@media screen and (max-width: 66rem) and (orientation:landscape) {
    .current--game--logo { 
        margin-left: auto;
        margin-right: auto;
        max-width: 25%; 
    }
    .aboutHome { 
        padding-top: 15%; 
        height: 230vh !important;
        background-size: 120% !important;
    }
}

@media screen and (max-width: 42rem) {
    .heroHome { background-size: cover; }
    .homeBanner {
        padding-top: 100px;
        padding-bottom: 0;
        background-image: url('./home-banner-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }
    .current--game--logo { max-width: 70%;}
    .sectionImg { margin-top: 2rem; }
    .bx--row[data-type="reverse"] { flex-direction: column-reverse; }
    .socialNetworks[data-type='heroHome'] {
        top: 0pt;
        left: 0pt;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .current--game--logo { 
        margin-left: auto;
        margin-right: auto;
        max-width: 20%; 
    }
    .aboutHome { 
        padding-top: 15%;
        padding-right: 42%; 
        height: 210vh !important; 
        background-position: 50% bottom;
        background-size: 125% !important;
    }
}

@media screen and (max-width: 20rem) {
    .aboutHome { 
        height: 180vh !important;
        background-size: 200% !important;
    }
}