
.studioHero {
    position: relative;
    height: auto;
    color: #FFF;
    background-image: url(logo-rooeda.svg);
    background-position: 200% 10%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
  }

.studioHero span { color: #A5A5A5; }
.studioHero ol { 
  padding-left: 10%;
  list-style: decimal; 
}
.studioHero li { padding-bottom: 5%;}
.studioCopy {
    position: relative;
    padding-top: 80px;
    padding-bottom: 20pt;
}
@media screen and (max-width: 66rem) { 

}
@media screen and (max-width: 42rem) {

}
