.counter--list {
    counter-reset: list;
    margin-left: 2rem;
  }
  
.counter--list p:before {
    counter-increment: list;
    content: counter(list);
    background-color: #111;
    color:white;
    margin-right: 0.5rem;
    padding: 2px 14px;
    border-radius: 25pt;
    font-size: 12px;
    font-weight: bolder;
  } 
@media screen and (max-width: 66rem) { 
 
}
@media screen and (max-width: 42rem) {

}
