.bx--search--light .bx--search-input { 
    color: #FFF;
    border-radius: 4pt; 
    border-bottom: unset;
    border: 1px solid rgba(250, 250, 250, 0.25);
    background-color: #222;
    caret-color:#FFF;
}
.bx--search-close::before {
    width: 1px;
    background-color: rgba(250, 250, 250, 0.25);
}
.bx--search-close:hover::before { background-color: unset; }
.bx--search-close svg { fill: gray; }