.avatar {
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 1rem;
    border-radius: 50px;
    background-color: darkgrey;
    align-items: center;
    justify-content: center;
}
.avatar span { 
    font-size: smaller; 
    font-weight: 600;
}
.username--nowrap { white-space: nowrap; }

@media screen and (max-width: 66rem) and (orientation:portrait) { 
    .navBar { padding-right: 3.5rem; }
    .navBar ul { display: none; }
    .overflowMenu { display: none; }
    .avatar { margin-left: 0; }
}
@media screen and (max-width: 42rem) {
    .navBar { 
        padding: 1rem; 
        padding-right: 3.5rem;
    }
    .navBar ul { display: none; }
 }
@media screen and (max-width: 66rem) and (orientation:landscape) { 
    .navBar { padding-right: 4.5rem; }
    .navBar ul { display: none; }
    .avatar { margin-left: 0; }
    .overflowMenu { display: none; }
}
@media screen and (max-width: 42rem) and (orientation:landscape) { }