$color-gray: #A1A1A1;
$color-white: #FFF;
$color-orange: #ff5000;


.SidebarLogo {
    margin-left: 25pt;
    margin-right: 50pt;
    margin-bottom: 25pt;
    max-width: 100pt;
    transition: .15s ease-in-out;
   -webkit-transition: .15s ease-in-out;
}
.Sidebar li { border: none; }
.SidebarContainer ul {
    position: relative;
    height: 100vh;
}l
.SidebarLoginControl {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.Sidebar a {
    text-decoration: none;
    color: $color-white;
}


@media screen and (max-width: 42rem) {
     .SidebarLogo {
        margin-left: 20pt;
        margin-right: 30pt;
        max-width: 125pt;
     }
     .Sidebar li {
        font-size: 14pt;
     }
}

@media screen and (max-width: 42rem) and (orientation:landscape) {
    .SidebarLogo {
        margin-left: 15pt;
        margin-right: 30pt;
        max-width: 120pt;
     }
     .Sidebar li {
        padding: 8pt;
        padding-top: 5pt;
        padding-left: 15pt;
        font-size: 12pt;
     }
}
