
.footer {
    position: relative;
    display: flex;
    min-height: 100vh;
    padding-top: 100px;
    color: #FFF;
    background-color: #111;
    // background: linear-gradient(to bottom, #111 50%,#333 100%);
}
.footerBottom {
    display: flex;
    width: 100%;
    min-height: 100px;
    align-items: flex-end;
    flex-direction: row;
}
.footerLegal {
    display: flex;
    color: #A5A5A5;
    justify-content: flex-start;
    align-items: center;
}
.footerLegal p { 
    font-size: x-small; 
    margin-bottom: 0;
    color: rgba($color: #ffffff, $alpha: .35);
}

.footerLegal span { opacity: 0.50; }
.footerLegalLinks a {
    display: flex;
    color: #A5A5A5;
    font-size: x-small; 
    justify-content: flex-end;
    align-items: center;
}
.footerLogo {
    margin-bottom: 1rem;
    max-width: 80pt;
    opacity: .5;
}
.footerIcon {
    margin-right: 8px;
    max-width: 28px;
    opacity: .25;
}

.footerMenu li {
    width: 100%;
    border: none;
    margin-left: 0;
    margin-bottom: unset;
    border-left: 1px solid rgba($color: #ffffff, $alpha: .25);
    transition: .2s ease-in-out;
}

.footerMenu li:hover { 
    border-left: 1px solid #ff5000;
    transform: translate(14pt); 
}
.footerMenu a { 
    display: flex;
    color: #FFF; 
    font-weight: 600; 
    padding: 1rem;
}
.socialNetworks { 
    position: relative; 
    margin-top: 1rem;
}
.socialNetworks ul {
    list-style-type: none;
    display: inline;
}
.socialNetworks li {
     margin-right: 1rem;
     float: left;
     opacity: 1;
    -webkit-transition: all .15s;
     transition: all .15s;
}
.socialNetworks li:hover {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.socialNetworks li { 
    border: none; 
    padding: unset;
}

@media screen and (max-width: 66rem)  { 
    .footer { height: auto; }
    .footer--block--3 {
        margin-top: 2rem;
    }
    .footerBottom  { 
        display: block;
        margin-top: 2rem; 
        margin-bottom: 2rem;
    }
    .footerContact { padding-top: 5%; }
    .footerIconLocked {
        margin-right: 10pt;
        max-width: 16px;
    }
}

@media screen and (max-width: 42rem)  { 
    .footerMenu { 
        margin-top: 2rem; 
     // margin-bottom: 2rem; 
    }
    .socialNetworks { margin-top: 1rem; }
    // .footerBottom { margin-top: 20px; }
    .footerContact { padding-top: 10%; }
    .footerIconLocked { 
        margin-right: 5pt;
        max-width: 12px; 
    }
    .footerLegalLinks a { 
        // margin-top: 1rem; 
        margin-bottom: 1rem; 
        justify-content: flex-start; 
    }
    .footerBottom  { 
        display: flex;
        min-height: auto;
        flex-direction: column-reverse; 
    }
}

@media screen and (max-width: 42rem) and (orientation:landscape) {
    .footerStyle {
        padding-bottom: 15%;
    }
    .footerLegal { padding-top: 15%; }
    .footerLegal p { 
        padding-top: 0pt;
        font-size: 8pt; 
    }
    .footerIconLocked { 
        max-width: 16px;
        margin-top: 4px;
    }
}