.tabsPosition {
    position: relative;
    z-index: 999;
}
.profileStyle {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    color: #FFF;
   // background-image: url('');
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.profileContainer {
    padding-left: 25%;
    padding-right: 25%;
}
.dashBoard[data-type='profile'] { padding-bottom: 80px; }
.packBox[data-type='profile'] {
    margin-top: 20pt;
}
.p--no--margin p { margin-bottom: 0; }
.athlete--position--badge {
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50px;
    box-shadow: 0 0 0 2px #404040;
    background-color: orangered;
    align-items: center;
    justify-content: center;
}
.userRow, .trainerRow {
    position: relative;
    display: flex;
    padding: 10pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.trainerRow[data-type='border-top'] { 
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15); 

}
.userRow p,  .trainerRow p { margin-bottom: 0; }
.trainerRow p[data-type='title'] { 
    font-weight: 600;
    color: gray; 
}

.no-wrap{
    width: 10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.center-title{
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%) 
}


@media screen and (max-width: 66rem)  { 
    .profileStyle { 
        padding-top: 15%;
        padding-bottom: 15%;
        background-size: 200%;
    }
    .profileContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 42rem) {
    .profileStyle { 
        padding-top: 30%;
        padding-bottom: 30%;
        background-size: 300%;
    }
    .profileContainer {
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .profileStyle { 
        padding-top: 20%;
        background-size: 150%;
    }
    .profileContainer {
        padding-left: 35%;
        padding-right: 35%;
    }
}