$color-white: #FFF;
$color-gray: #A1A1A1;
$color-black: #000;
$color-facebook: #1F3E8E;

.bx--checkbox:checked + .bx--checkbox-label::before, .bx--checkbox:indeterminate + .bx--checkbox-label::before, .bx--checkbox-label[data-contained-checkbox-state='true']::before, .bx--checkbox-label[data-contained-checkbox-state='mixed']::before {
    border-color: none;
    background-color: #ffffff;
}
.bx--checkbox-label::after {
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
}
.formStyle { 
    height: auto; 
    padding-top: 80px;
}
.formStyle label { color: $color-gray; }
.formStyle input { margin-bottom: 10pt; }
.formTitles[data-type='credit-card'] { padding-top: 15%; }
.buttonAccess {
    width: 100%;
    height: 30pt;
    max-width: 100%;
    padding: 10pt;
    padding-top: 9pt;
    margin-bottom: 10pt;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.buttonAccess[data-type="margin--top"] {
    margin-top: 10pt;
}
.authentication {
    color: #FFF;
    background-color: #111;
    min-height: calc(100vh - 80px);
}
.authentication input { margin-bottom: 10pt; }
.account--access {
    color: #FFF;
    display: flex;
    width: 100%;
    padding: 1rem;
    line-height: 1.1rem;
    border-radius: 6px;
    border: 1px solid rgba(250, 250, 250, 0.25);
    // background-color: #FFF;
    align-items: center;
    justify-content: center;
}
.account--access span, .account--access a { font-size: small; }
.account--access p { margin-bottom: 0; }
.textInput:active { border-radius: 6px; }
.buttonFacebook button {
    padding: 10pt;
    width: 100%;
    height: 30pt;
    background-color: $color-facebook;
    background-image: url(./icon-facebook.png);
    background-size:8pt;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    // border-top-left-radius: 4pt;
    // border-bottom-left-radius: 4pt;
    // border-top-right-radius: 0pt;
    // border-bottom-right-radius: 0pt;
    border: none;
}
.buttonGoogle button {
    padding: 10pt;
    width: 50%;
    height: 30pt;
    color: $color-black;
    background-color: $color-white;
    background-image: url(./icon-google.png);
    background-size: 18pt;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 4pt;
    border-bottom-right-radius: 4pt;
    border-top-left-radius: 0pt;
    border-bottom-left-radius: 0pt;
    border: none;
    float: right;
}
.forgotPass {
    display: flex;
    font-size: 0.75rem;
    color: $color-white;
    font-weight: 500;
    margin-bottom: 10pt;
    z-index: 1;
}
.privacyPolicy, .privacyPolicy a { 
    position: relative;
    height: 80px;
    font-size: 9pt;
    color: $color-gray; 
    text-align: center;
    line-height: 12pt;
    padding-top: 20pt;
    z-index: 1;
}

@media screen and (max-width: 66rem)  { 
    .formStyle { padding-top: 12.5%; }
}

@media screen and (max-width: 42rem)  {
    .formStyle {
        height: 115vh;
        padding: 5%;
        padding-top: 35%;
        color: $color-white;
        background-image: unset;
    }
    .forgotPass {
        margin-top: 10pt;
        font-size: 10pt;
    }
}

@media screen and (max-width: 42rem) and (orientation:landscape) {
    .formStyle {
        height: auto;
        padding-top: 25%;
        padding-bottom: 25%;
    }
    .privacyPolicy, .privacyPolicy a { 
        font-size: 6pt; 
        line-height: 10pt;
    }
    .forgotPass {
        margin-top: 16pt;
        font-size: 12pt;
    }
}