$color-gray: #A1A1A1;
$color-white: #FFF;
$color-orange: #ff5000;

.menuMobile {
    display: flex;
    position: absolute;
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
 /* align-self: flex-start; */
}

.burguerMenu {
    display: none;
    color: $color-white;
    height: 24px;
    width: 24px;
    margin-right: 1rem;
    fill: currentColor;
    background-image: url(menu.svg);
    background-position: center left;
    background-size: 24px;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
   -webkit-transition: all .15s ease-in-out;
   z-index: 999;
}
.burguerMenu:hover { 
    cursor: pointer; 
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.SidebarLogo {
    margin-left: 25pt;
    margin-right: 50pt;
    margin-bottom: 25pt;
    max-width: 125pt;
    transition: .15s ease-in-out;
   -webkit-transition: .15s ease-in-out;
}
.Sidebar:first-child { padding-top: 80px; }
.SidebarContainer ul {
    position: relative;
    height: 100vh;
}l
.SidebarLoginControl {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.Sidebar a {
    text-decoration: none;
    color: $color-white;
    padding-left: 15pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 50pt;
    font-size: 14px;
    display: flex;
    white-space: nowrap;
    border-left: 1px solid rgba($color: #ffffff, $alpha: .0);
    transition: .2s ease-in-out;
   -webkit-transition: .2s ease-in-out;
}
.Sidebar a:hover {
    color: $color-gray;
    border-left: 1px solid #ff5000;
    transform: translate(14pt); 
  }

@media screen and (max-width: 66rem) and (orientation:portrait) { 
    .burguerMenu { display: flex; }
  }
@media screen and (max-width: 42rem) {
     .SidebarLogo {
        margin-left: 20pt;
        margin-right: 30pt;
        max-width: 125pt;
     }
     .Sidebar li {
        font-size: 14pt;
     }
}

@media screen and (max-width: 66rem) and (orientation:landscape) {
    .burguerMenu { 
        display: flex; 
        margin-right: 2rem;
    }
    .SidebarLogo {
        margin-left: 15pt;
        margin-right: 30pt;
        max-width: 120pt;
     }
     .Sidebar li {
        padding: 8pt;
        padding-top: 5pt;
        padding-left: 15pt;
        font-size: 12pt;
     }
}
