.navBar {
    position: relative;
    padding: 2rem;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #111;
    align-items: center;
    justify-content: space-between;
}
.navBar a[data-type='logo'] {
    padding-left: unset;
    padding-right: unset;
    z-index: 99999999;
}
.navBar img[data-type='logo'] { 
    max-width: 80pt; 
    padding-right: 15px;
}
.navBar ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.navBar a { 
    color: #FFF;
    padding-left: 1rem; 
    padding-right: 1rem; 
}
.navBar a[data-type="user"] {
    padding-left: 1rem; 
    padding-right: 1rem; 
}
.navBar li { 
    color: #FFF;
    height: 80px;
    padding-top: 32px;
    border-bottom: 2px solid #111;
   -webkit-transition: all .15s;
    transition: all .15s;
}
.navBar li:hover {
    border-bottom: 2px solid orangered;
}

.logIn { 
    white-space: nowrap;    
    color: #FFF; 
} 
.userName { 
    color: #FFF;
    font-weight: 600; 
} 
.sessionControl {
    display: flex;
    align-items: center;
}
.bx--overflow-menu__icon {
    fill: white;
}

.bx--overflow-menu.bx--overflow-menu--open, .bx--overflow-menu.bx--overflow-menu--open .bx--overflow-menu__trigger {
    background: transparentize(#000, 1);    
    transition: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.bx--overflow-menu-options__btn {
    background: gray;
    color: white;
}


.bx--overflow-menu-options__btn :hover{
    color: white;
}

.bx--overflow-menu-options::after {
    background: transparentize(#000, 1);  
}


@media screen and (max-width: 42rem) {
}

@media screen and (max-width: 42rem) and (orientation:landscape) { }