@import './content/Home/Home.scss';
@import './content/Profile/Profile.scss';
@import '@carbon/themes/scss/themes';

$carbon--theme: $carbon--theme--g10;
// Use the gray 10 theme
@include carbon--theme();


/* Carbon Design System Custom */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
// p { margin-bottom: 1rem; }
a { 
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none; 
}
.bx--content { 
    padding: 0; 
    min-height: 100vh !important;
}
.bx--btn { 
    font-size: 1rem;
    padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 22px; 
}
.bx--btn--primary { 
    font-weight: 600;
    border: none;
    border-radius: 50px;
    /* background-color: blue; */
    transition: .15s ease-in-out;
}
.bx--btn--primary:hover, .bx--btn--primary:active { 
    transform: scale(1.15); 
    -webkit-transform: scale(1.15); 
}
.bx--btn--secondary {
    font-weight: 600;
    border: none;
    border-radius: 26px;
    transition: .15s ease-in-out;
}
.bx--btn--secondary:hover {
    background-color: #222;
}
.bx--btn--ghost { 
    border-radius: 6px; 
    margin-right: 0.5rem;
}
.bx--text-input { 
    color: #FFF;
    border-radius: 6px;
    border-bottom: unset;
    border: 1px solid rgba(250, 250, 250, 0.25);
    background-color: #222;
    outline: none;
 }
.bx--text-input:focus, .bx--text-input:active { 
    outline: none; 
    border: 1pt solid #00cc00;
    box-shadow: 0 0 0 0.2rem rgba(0,204,0,0.25);
}
.bx--label { color: inherit; }
.bx--btn--primary:focus, 
.bx--btn--secondary:focus,
.bx--btn--primary:active,
.bx--btn--secondary:active
{
    border: none;
    box-shadow: none;
}
.bx--checkbox-label::before { 
    background-color: #FFF; 
    border-radius: 6px;
}
.bx--toggle-input__label { color: #777; }
.bx--tabs { margin-top: 20pt; } 
.bx--tabs-trigger { background-color: #777777; }
.bx--tabs-trigger-text { color: #FFF; }
a.bx--tabs__nav-link { color: #808080; }
a.bx--tabs__nav-link:focus, a.bx--tabs__nav-link:active {
    color: #FFF;
    outline: none;
}
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link:focus, .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link:active {
    color: #FFF;
    outline: none;
}
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
    color: #FFF;
    background-color: #39393999;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.bx--dropdown__wrapper--inline {
    width: 100%;
    grid-gap: 0;
}
.bx--dropdown--inline {
    width: 100%;
    border-radius: 6px;
    background-color: #FFF;
}

.bx--overflow-menu, .bx--overflow-menu__trigger {
    width: 26px;
    height: 26px;
    border: 1px solid #777777;
    border-radius: 6px;
}
.bx--link { font-weight: 600; }
.bx--list-box__field {
    color: #FFF;
    border-radius: 6px;
    border: 1px solid rgba(250, 250, 250, 0.25); 
    background-color: #222;
}
.bx--list-box__label { color: #FFF; }
.bx--list-box__menu-icon > svg { fill: #FFF; }
.bx--dropdown--open { border-bottom-color: unset; }
.bx--dropdown { 
    border-bottom: unset;
    background-color: unset; 
}
.bx--dropdown:hover { background-color: unset; }
.bx--breadcrumb-item .bx--link:visited, .bx--breadcrumb-item .bx--link:visited:hover { 
    font-weight: 600;
    color: rgba(255, 255, 255, 0.50);
 }
.bx--breadcrumb-item [aria-current='page'], .bx--breadcrumb-item.bx--breadcrumb-item--current .bx--link {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.50);
}
.bx--breadcrumb-item::after { color: rgba(255, 255, 255, 0.25); }
/* Standard */
.dashBoard {
    color: #FFF;
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    background-color: #111;
}
.dashBoard input { margin-bottom: 10pt; }
.dashBoard input[data-type="no--margin"] { margin-bottom: unset; }
.breadCrumb {
    height: auto;
    margin-top: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background-color: unset;
}
.alignBottom {
    position: absolute;
    bottom: 50pt;
    right: 0;
    left: 0;
}
.alignBottom[data-type='home'] { bottom: 25%; }
.alignBottom[data-type='sideBar'] { bottom: 55pt; }
.alignBottom[data-type='privacyPolicy'] { bottom: 35pt; }
.centerTitle { text-align: center; }
.centerTitle[data-type='packs'] { padding-bottom: 50pt; }
.centerVertically {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 80px);
}

/* Modal */
.modal--text {
    padding-bottom: 1rem;
    padding-right: 2rem;
}
.react-responsive-modal-modal { 
    width: 330px;
    border-radius: 15pt; 
    padding-top: 3rem !important;
    padding: 1rem !important;
}
.react-responsive-modal-overlay {
    background: rgba(25, 25, 25, 0.75) !important;
}

/* Toast Notifications */
.Toastify__toast--default {
    line-height: 12pt;
    padding: 10pt;
    color: #FFF !important;
    font-weight: bold;
    border: 1px solid #222;
    border-radius: 6px !important;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(24, 24, 24, 0.6) !important;
    backdrop-filter: saturate(180%) blur(5pt);
    box-shadow: unset !important;
    /*
    background-image: url(logo.png) !important;
    background-repeat: no-repeat !important;
    background-position: 12pt center !important;
    background-size: 16pt !important;
    */
}
.Toastify__close-button--default { 
    color: #777777 !important; 
    opacity: 1 !important;
}
.Toastify__progress-bar--default {
    background:rgba(255, 255, 255, 0.25) !important;
}

/* Tabs */
.rwt__tab {
    display: flex;
    padding: 0;
    width: 100%;
    height: 2.5rem;
    font-size: inherit;
    font-weight: 700;
    border: 0;
    align-items: center;
    justify-content: center;
    -webkit-transition: background .3s cubic-bezier(.22,.61,.36,1);
    transition: background .3s cubic-bezier(.22,.61,.36,1);
}
.rwt__tab[aria-selected=false] { 
    color: #777;
    background-color: unset;
    border-bottom: 1px solid #777; 
}
.rwt__tab[aria-selected=true] {
    color: #FFF;
    border: 1px solid #777777;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(55, 55, 55, 0.5);
    border: 1px solid#FFF ;
    border-bottom: 1px solid#FFF ;
}

/* Sort */
.DragDropContainer { 
    cursor: grab;
    margin-top: 0;
    margin-bottom: 1rem; 
}
.DragDropList span { font-weight: 600; }
.DragDropList {
    position: relative;
    width: 100%;
    cursor: grab;
    display: flex;
    color: #FFF;
    text-align: left;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 0pt;
    padding: 0.75rem;
    margin-bottom: -1px;
    list-style-type:none;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: saturate(180%) blur(10px);
    z-index: 999;
}
.DragDropList:last-child { 
    border-bottom-left-radius: 35pt; 
    border-bottom-right-radius: 10pt; 
}
.DragDropList:hover { 
    color: #FFF;
    background-color: #0f62fe; 
}
.iconDraggable { 
    position: absolute;
    right: 0.5rem;
    opacity: 0.75;  
}
.resize {
    width: 66px;
    height: 66px;
    margin-right: 0.75rem;
    border-radius: 50pt;
    background-color: rgba(255, 255, 255, 0.1);
    border: 6px solid rgba(255, 255, 255, 0.1);
}



@media screen and (max-width: 66rem) and (orientation:portrait) { 
    .rwt__tab { height: 2.5rem; }
}
@media screen and (max-width: 42rem) and (orientation:portrait) {
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .dashBoard { padding-top: 20px; }
    .alignBottom[data-type='sideBar'] { bottom: 100pt; }
    .alignBottom[data-type='home'] { bottom: 20%; }
    .Toastify__toast-container { 
        width: 90% !important; 
        margin: 5% !important;
    }
}
@media screen and (max-width: 64rem) and (orientation:landscape) { 
    .dashBoard { padding-top: 20px; }
    .rwt__tab { height: 2.5rem; }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .dashBoard { padding-top: 20px; }
    .alignBottom[data-type='sideBar'] { bottom: 40pt; }
}
@media screen and (max-width: 20rem) and (orientation:portrait) {
    .alignBottom[data-type='home'] { bottom: 25%; }
}