.gameStatus {
    display: flex;
    color: #777;
    flex-direction: row;
    justify-content: flex-start;
}
.gameStatus span {
    display: inline-flex;
    width: 8px;
    height: 8px;
    margin-right: 5pt;
    border-radius: 50pt;
    background-color: #a6ff00;
}
.addButton {
    position: relative;
    right: 10pt;
}
.instructorsLink {
    color: #FFF;
    width: 100%;
    font-weight: bolder;
    transition: .2s ease-in-out;
}
.instructorsLink:hover {
    transform: translateX(15px);
}
.city {
    opacity: .5;
    white-space: nowrap;
}
.disable {
    opacity: .5;
    cursor: not-allowed;
}
.disable:hover {
    background-color: unset;
    transform: unset;
    border-color: unset;
    cursor: not-allowed;
}