.bx--file--label { color: #FFF; }
.bx--file__container {
    position: relative;
    z-index: 9;
}
.bx--label-description {
    color: rgba(255, 255, 255, 0.5);
}
.bx--file__selected-file {
    background-color: #333;
}
.bx--btn ~ .bx--file-container {
    margin-bottom: 1rem;
}
.bx--file__state-container .bx--file-close {
    fill: #777;
}
.upload--file {
    position: relative;
    z-index: 999;
}
.bx--file__selected-file {
    min-height: 2rem;
    border-radius: 6px;
}
.bx--file__selected-file p {
    margin-bottom: unset;
}
.ReactCrop {
    height: 298px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll !important;
}
.ReactCrop__image {
    max-width: 90%;
    width: 298px;
    margin-left: auto;
    margin-right: auto;
}
.ReactCrop__crop-selection {
    box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.70);
    border-radius: 50%;
    border-image-source: unset !important;
}
.instructorAvatar {
    max-width: 50%;
    object-fit: cover;
    border-radius:50%;
    padding-top: 10%;
    padding-bottom: 10%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: relative;
    transform: translate(-50%, 0%) 
  }

